<!doctype html>
<html>
  <head>
    <title>ClassFetch</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <meta charset="UTF-8" />
  </head>
  <body>
      <div class="header-icon">
        <div>
          <img src="../icons/128.png" alt="classroom-downloader" class="logo" />
          <h1 class="main-heading">ClassFetch</h1>
        </div>
        
        <div>
          <a  rel="noopener" href="https://www.producthunt.com/posts/classfetch?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-classfetch" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=841008&theme=light&t=1738484122639" alt="ClassFetch - A&#0032;browser&#0032;extension&#0032;to&#0032;bulk&#0032;download&#0032;files&#0032;from&#0032;G&#0045;Classroom&#0033; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
        </div>
      </div>
    </a>
    <h3 style="font-size: large">Available Files:</h3>
    <ul id="fileList" class="fileList"></ul>
    <div class="flex-btn">
      <button id="downloadSelected" class="primary-btn btn-left">
        Download Selected
      </button>
      <button id="downloadAll" class="primary-btn">Download All</button>
    </div>
    <script src="../scripts/popup.js"></script>
  </body>
</html>
