@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    font-family: "Inter";
    font-size: medium;
}

li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
    padding: 5px 0;
    overflow: hidden;
}

li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    accent-color: rgb(125, 229, 125);
    /* This is not supported by the samsung browser, who uses it anyways */
}

.primary-btn {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    font-weight: bold;
}

.primary-btn:hover {
    box-shadow:
        0 10px 12px 0 rgba(0, 0, 0, 0.24),
        0 10px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn-left {
    margin-right: 10px;
}

.flex-btn {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding-left: 0px;
}

body {
    width: 350px;
    padding: 10px;
    background-color: #e1e3ff;
}

.fileList,
ul {
    width: 350px;
    max-height: 450px;
    overflow-y: auto;
    list-style-type: none;
    overflow-x: hidden;
    padding: 0;
}

.header-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.header-icon>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.github-logo {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.main-heading {
    font-size: larger;
}